body {
	max-width: 100%;
}

html {
	background: url(./pics/table.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mePic {
	position: fixed;
	left: 44%;
	top: 17%;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#words {
	position: fixed;
	width: 400px;
	top: 35%;
	left: 35.5%;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#name {
	margin-left: 0;
	font-size: 50px;
	font-family: 'Papyrus', fantasy;
	font-weight: bold;
	color:#333333;
}
.des {
	font-size: 15px;
	color:white;
	text-align: center;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-weight: bolder;
	margin-left: -15%;
}

.toggle {
	position: fixed;
	left: 20px;
	top: 20px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	animation-duration: 2s;
  	animation-name: tog;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	text-decoration: none;
	font-size: 20px;
	color: black;
	z-index: 1;
}

@-webkit-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

.toggle:hover {
	color: red;
} 

.sidebar {
	position: fixed;
	left: -190px;
	top: 0;
	right: 0px;
	bottom: 0px;
	width: 190px;
	padding: 30px;
	background: #333;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}

.sidebar ul {
	position: fixed;
	left: -190px;
	top: 40px;
	list-style-type: none;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}


.sidebar li {
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	font-family: "ubuntu", sans-serif;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
	/*cursor: pointer;*/
}

.sidebar li:hover {
	color: rgba(255,255,255,1);
}

#sidebartoggler {
	display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
	left: 0px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .mePic {
	left: 50%;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #words {
	left: 41.5%;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap #list {
	left: 0px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .toggle {
	left: 200px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#amazingaudioplayer-1 {
	position: fixed;
	left: 5px;
	bottom: 20px;
	z-index: 1;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
	left: 200px;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}





