html {
	background: url(./pics/table.jpg) no-repeat center center fixed;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mePic {
	width: 130px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 17%;
	margin-left: -65px;
	box-shadow: 0 0 6px 6px rgba(0, 92, 230, 0.2)
, 0 6px 20px 0 rgba(0, 92, 230, 0.19);
	-webkit-transition: margin-left 1s, top 1s; 
    transition: margin-left 1s, top 1s;   
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#words {
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 38%;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: margin-left 1s, top 1s; 
    transition: margin-left 1s, top 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	text-align: center;
}

#name {
	font-size: 50px;
	font-family: 'Papyrus', fantasy, Verdana, Geneva, sans-serif;
	font-weight: bold;
	color:#333333;

}
.des {
	font-size: 15px;
	color:white;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-weight: bolder;
	-webkit-transition: opacity 1s; 
    transition: opacity 1s;
	
}

.toggle {
	position: fixed;
	left: 20px;
	top: 20px;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	animation-duration: 1s;
  	animation-name: tog;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	text-decoration: none;
	font-size: 20px;
	color: black;
	z-index: 1;
}

@-ms-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

@-moz-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

@-webkit-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

.sidebar {
	position: fixed;
	left: -190px;
	top: 0;
	right: 0px;
	bottom: 0px;
	width: 190px;
	padding: 30px;
	background: #333;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}

.sidebar ul {
	position: fixed;
	left: -190px;
	top: 40px;
	list-style-type: none;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}


.sidebar li {
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	font-family: "ubuntu", sans-serif;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
}

.sidebar li:hover {
	color: rgba(255,255,255,1);
}

#sidebartoggler {
	display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
	left: 0px;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .mePic {
	margin-left: 30px;
	-webkit-transition: margin-left 1s, top 1s; 
    transition: margin-left 1s, top 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #words {
	margin-left: -105px;
	-webkit-transition: margin-left 1s, top 1s; 
    transition: margin-left 1s, top 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .contact {
	margin-left: -105px;
	-webkit-transition: margin-left 1s, top 1s, opacity 1s; 
    transition: margin-left 1s, top 1s, opacity 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap #list {
	left: 0px;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .toggle {
	left: 200px;
	-webkit-transition: left 1s; 
    transition: left 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#amazingaudioplayer-1 {
	display: block;
	width: 420px;
	height: auto;
	margin: 0px auto;
	position: fixed;
	left: 5px;
	bottom: 20px;
	z-index: 1;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
	left: 200px;
	-webkit-transition: left 1s; 
    transition: left 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.contact {
	opacity: 0;
	position: absolute;
	width: 400px;
	left: 50%; 
	top: 55%;
	margin-left: -200px;
	text-align: center;
	font-size: 15px;
	color:white;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-weight: bolder;
	-webkit-transition: top 1s, opacity 2s, margin-left 1s; 
    transition: top 1s, opacity 2s, margin-left 1s;
    -webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#contacttoggler {
	display: none;
}

#contacttoggler:checked ~ .contact{
	opacity: 1;
	top: 45%;
}
#contacttoggler:checked ~ #words .des{
	opacity: 0;
}

#contacttoggler:checked ~ #words{
	top: 27%;
}

#contacttoggler:checked ~ .pic .mePic{
	top: 10%;
}



/* tablet */
@media only screen and (min-width: 600px) and (max-width: 820px) and (-webkit-min-device-pixel-ratio: 1){
	#amazingaudioplayer-1 {
		width: 250px;
		height: auto;
	}

	.mePic {
		width: 100px;
		height: 100px;
		margin-left: -50px;
		top: 15%;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#words {
		top: 42%;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#name {
		font-size: 36px;
	}

	.des {
		font-size: 16px;
	}
	.toggle {
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
		padding-left: 50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	.sidebar li {
		font-size: 13px;
		padding: 6px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		margin-left: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap .contact {
		top: 45%;
		margin-left: -200px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#sidebartoggler:checked + .page-wrap #words {
		top: 50%;
		margin-left: -200px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: -20px;
		top: 20px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 70px;
		left: 20px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}

	.contact {
		font-size: 13px;
		top: 45%;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#contacttoggler:checked ~ #words{
		opacity: 0;
	}

	#contacttoggler:checked ~ .pic .mePic{
		top: 20%;
	}


}
/* big screen mobile phone*/
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1){
	#amazingaudioplayer-1 {
		display: none;
	}

	.mePic {
		width: 100px;
		height: 100px;
		margin-left: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#words {		
		top: 44%;
		width: 300px;
		margin-left: -150px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#name {
		font-size: 34px;
	}

	.des {
		font-size: 15px;
	}
	.toggle {
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;

	}

	.sidebar li {
		font-size: 13px;
		padding: 3px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		margin-left: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap .contact {
		top: 48%;
		margin-left: -150px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}
	#sidebartoggler:checked + .page-wrap #words {
		top: 52%;
		margin-left: -150px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: -20px;
		top: 20px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 70px;
		left: 20px;-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}
	.contact {
		font-size: 13px;
		top: 45%;
		width: 300px;
		margin-left: -150px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#contacttoggler:checked ~ #words{
		opacity: 0;
	}

	#contacttoggler:checked ~ .pic .mePic{
		top: 20%;
	}
}

/* small screen mobile phone*/
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 1){
	#amazingaudioplayer-1 {
		display: none;
	}

	.mePic {
		width: 100px;
		height: 100px;
		margin-left: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#words {	
		width: 300px;
		margin-left: -150px;	
		top: 44%;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#name {
		font-size: 33px;
	}

	.des {
		font-size: 14px;
	}
	.toggle {
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	.sidebar li {
		font-size: 13px;
		padding: 3px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		margin-left: -50px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap .contact {
		top: 48%;
		margin-left: -150px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#sidebartoggler:checked + .page-wrap #words {
		top: 52%;
		margin-left: -150px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: -20px;
		top: 20px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 70px;
		left: 20px;
		-webkit-transition: top 1s; 
    	transition: top 1s;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}
	.contact {
		font-size: 12px;
		top: 45%;
		width: 300px;
		margin-left: -150px;
		-webkit-transition: top 1s, opacity 2s; 
    	transition: top 1s, opacity 2s;
	}

	#contacttoggler:checked ~ #words{
		opacity: 0;
	}

	#contacttoggler:checked ~ .pic .mePic{
		top: 20%;
	}
}

