body {
	max-width: 100%;
}

html {
	background: url(./pics/table.jpg) no-repeat center center fixed;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mePic {
	width: 130px;
	height: 130px;
	position: fixed;
	left: 44%;
	top: 17%;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#words {
	position: fixed;
	width: 400px;
	top: 35%;
	left: 35.5%;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#name {
	margin-left: 0;
	font-size: 50px;
	font-family: 'Papyrus', fantasy;
	font-weight: bold;
	color:#333333;
}
.des {
	font-size: 15px;
	color:white;
	text-align: center;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-weight: bolder;
	margin-left: -15%;
}

.toggle {
	position: fixed;
	left: 20px;
	top: 20px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	animation-duration: 2s;
  	animation-name: tog;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	text-decoration: none;
	font-size: 20px;
	color: black;
	z-index: 1;
}

@-ms-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

@-moz-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

@-webkit-keyframes tog {
	from {
		color: black;
	}
	to {
		color: red;
	}
}

.toggle:hover {
	color: red;
} 

.sidebar {
	position: fixed;
	left: -190px;
	top: 0;
	right: 0px;
	bottom: 0px;
	width: 190px;
	padding: 30px;
	background: #333;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}

.sidebar ul {
	position: fixed;
	left: -190px;
	top: 40px;
	list-style-type: none;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 0;
}


.sidebar li {
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	font-family: "ubuntu", sans-serif;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
	/*cursor: pointer;*/
}

.sidebar li:hover {
	color: rgba(255,255,255,1);
}

#sidebartoggler {
	display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
	left: 0px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .mePic {
	left: 50%;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #words {
	left: 41.5%;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap #list {
	left: 0px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#sidebartoggler:checked + .page-wrap .toggle {
	left: 200px;
	-webkit-transition: 1s; 
    transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#amazingaudioplayer-1 {
	display: block;
	width: 420px;
	height: auto;
	margin: 0px auto;
	position: fixed;
	left: 5px;
	bottom: 20px;
	z-index: 1;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}


#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
	left: 200px;
	-webkit-transition: 1s; 
    transition: 1s;    
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 820px) and (-webkit-min-device-pixel-ratio: 1){
	#amazingaudioplayer-1 {
		width: 250px;
		height: auto;
	}

	.mePic {
		width: 110px;
		height: 110px;
		left: 43%;
	}

	#words {
		width: 260px;
		left: 36%;
		top: 42%;
	}

	#name {
		font-size: 36px;
	}

	.des {
		font-size: 16px;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
		padding-left: 50px;
	}

	.sidebar li {
		font-size: 13px;
		padding: 6px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		left: 43%;
	}


	#sidebartoggler:checked + .page-wrap #words {
		top: 52%;
		left: 36%;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: -20px;
		top: 20px;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 70px;
		left: 20px;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}
}
/* big screen mobile phone*/
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1) {
	#amazingaudioplayer-1 {
		display: none;
	}

	.mePic {
		width: 100px;
		height: 100px;
		left: 35%;
	}

	#words {
		width: 260px;
		left: 15%;
		top: 42%;
	}

	#name {
		font-size: 36px;
	}

	.des {
		font-size: 16px;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
	}

	.sidebar li {
		font-size: 13px;
		padding: 3px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		left: 35%;
	}


	#sidebartoggler:checked + .page-wrap #words {
		top: 52%;
		left: 15%;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: -20px;
		top: 20px;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 70px;
		left: 20px;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}
}

/* small screen mobile phone */
/*@media only screen and (min-width: 300px) and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 1) {
	#amazingaudioplayer-1 {
		width: 200px;
		height: auto;
	}

	.mePic {
		width: 100px;
		height: 100px;
		left: 35%;
	}

	#words {
		width: 260px;
		left: 15%;
		top: 42%;
	}

	#name {
		font-size: 36px;
	}

	.des {
		font-size: 16px;
	}
	.sidebar {
		width: 100%;
		height: 40px;
		left: 0px;
		top: -60px;
	}

	.sidebar ul {
		left: -20px;
		top: -50px;
	}

	.sidebar li {
		font-size: 13px;
		padding: 3px;
		margin-bottom: 0px;
		display: inline-block;
	}

	#sidebartoggler:checked + .page-wrap .sidebar {
		top: 0px;
	}

	#sidebartoggler:checked + .page-wrap .mePic {
		top: 25%;
		left: 35%;
	}


	#sidebartoggler:checked + .page-wrap #words {
		top: 52%;
		left: 15%;
	}

	#sidebartoggler:checked + .page-wrap #list {
		left: 0px;
		top: 20px;
	}

	#sidebartoggler:checked + .page-wrap .toggle {
		top: 60px;
		left: 20px;
	}
	#sidebartoggler:checked + .page-wrap #amazingaudioplayer-1 {
		left: 5px;
	}

}
*/

